body {
  font-family: Arial, sans-serif;
  width: 780px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

label,
input,
button {
  margin: 5px 0;
}

.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  opacity: 0.8;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  max-width: 240px;
  /* Adjust as needed */
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
  /* Ensure long words break and wrap */
}

th {
  background-color: #f2f2f2;
  cursor: pointer;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.form-opacity {
  opacity: 0.8;
}

.input-opacity {
  opacity: 0.8;
}

#passwordTable tbody tr:nth-child(odd) {
  background-color: rgb(247, 255, 222);
  /* Light gray background for odd rows */
}

#passwordTable tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.8);
  /* White background for even rows */
}

.table-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  /* Adjust as needed */
}

.btn-delete {
  margin-right: 5px;
  /* Adjust as needed */
}

.table-actions {
  display: flex;
  gap: 10px;
  /* Adjust the spacing between buttons as needed */
}

#title-sort-indicator,
#username-sort-indicator {
  margin-left: 5px;
}

#toggleFormBtn {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 1000; /* Make sure it's above other content */
  padding: 10px 15px; /* Adjust padding for better visual appearance */
  border-radius: 50%; /* Make the button circular */
  font-size: 20px; /* Adjust the icon size */
}
